body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;

}



#logo {
    display: block;
    height: 60px;
    width: 100%;
    margin: 0 0 20px 0;
    object-fit: contain;
}

.container {
    position: relative;
    width: 130vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 1; /* Lower z-index than the sidebar */
    margin-left: 10px; /* Add left margin to account for the sidebar width */
}

canvas {
    width: calc(100% - 20px); /* Full width minus padding on both sides */
    max-width: auto;
    height: 20px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}


h1 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form {
    background-color: #fff;
    width: 250px;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group-top {
    display: inline-block;
    flex-direction: row;
    margin: 0.5em;
}


label {
    font-size: 16px;
    color: #777;
    margin-bottom: 8px;
}

input {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ff4420;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ab3017;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;

}

th {
    background-color: #f6f6f6;
    font-size: auto;
    color: #333;
    font-weight: bold;
}

#investmentResults table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 10px auto;
    margin-bottom: 1em;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#investmentResults th, #investmentResults td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#investmentResults th {
    background-color: #f6f6f6;
    font-size: auto;
    color: #333;
    font-weight: bold;
}


#inputForm.sidebar {
    position: fixed;
    height: 100vh;
    width: 200px; 
    overflow: auto;
    background-color: #fff;
    padding: 32px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-300px);
    z-index: 2; 
}

#inputForm.sidebar.active {
    transform: translateX(0);
}
.sidebar.active {
    transform: translateX(0); /* Slide in when active */
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100px;
    padding: 1em;
    background-color: #fff;
    overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport height */
    transition: all 0.3s ease-in-out;
    z-index: 2; /* Lower z-index than the container */
    transform: translateX(-100%); /* Start off the screen */
}

body.sidebar-active {
    padding-left: 320px; /* Sidebar width (300px) + padding (20px) */
}

body {
    padding-left: 100px; /* add left padding to the body */
    transition: padding-left 0.3s; /* animate the padding change */
}

body:not(.sidebar-active) {
    padding-left: 0;
}

.fixed-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 300px;
    overflow: auto;
    background-color: #fff;
    padding: 32px;
}

.sidebar .button-container {
    flex-direction: column;
}

#inputForm {
    display: none;
}

#password-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.green-cell {
    background-color: green;
    color: white;
  }
  

  @media (max-width: 768px) {
    body {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100vh !important;
        margin: 0 !important;
    }


    .sidebar, .fixed-sidebar {
        display: none !important;
    }
    
    #logo {
        height: 40px;
        margin-bottom: 10px;
    }
    
    form {
        width: 90vw;
        padding: 16px;
    }
    
    .form-group, label, input, button {
        font-size: 14px;
    }
    
    h1 {
        font-size: 1.2rem;
    }
    
    th, td {
        padding: 8px;
    }
}
  
